<div class="heading"><h1 >Movies List</h1></div>
<cdk-virtual-scroll-viewport itemSize="50" (scrolledIndexChange)="getNextBatch()">
    <li *cdkVirtualFor="let movie of movies | async; let i = index; trackBy: trackByIdx" class="animate__animated animate__fadeInRight">
        <h2>{{movie.Position}}. {{movie.Title}}</h2>
        <hr>
        <h3> <b>Release Year:</b> {{movie.Year}} <b>Duration:</b> {{movie.Runtime}}</h3>
        <h4><b>Rating:</b>⭐{{movie.IMDbRating}} ({{movie.NumVotes}})</h4>
    </li>
    <div *ngIf="!isEnd; else TheEnd" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
    
    <ng-template #TheEnd>
        <h1 class="heading">End of the List...</h1>
    </ng-template>
</cdk-virtual-scroll-viewport>

